<div class="col-md-3">
    <div class="card card-member">
        <div class="content">
            <div class="description">
                <h6 class="title">{{ fields['field_date'].content }}</h6>
            </div>
            <img alt="test" src="{{ fields['field_image'].content }}">
            <div class="description">
                <h3 class="title">{{ fields['title'].content }}</h3>
                <p>
                    {{ fields['field_body_for_title'].content }}
                </p>
                <hr />
                <p class="text-right">{{ fields['view_node'].content }}</p>
            </div>
        </div>
    </div>
</div>